<%# ----- add these lines here: ----- %>

<h1>Log In</h1>
<%= form_for :login, url:session_path do |f| %>
  <div>
    <%= f.label :email, style: "display: block" %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password %>
  </div>
  <br>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>
  
<%# ----- end of added lines ----- %>