<%= form_with(model: seller) do |form| %>
  <% if seller.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
        <% seller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" mb-2">
    <%= form.label :dni,"DNI", style: "display: block" %>
    <%= form.text_field :dni, class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class=" mb-2">
    <%= form.label :name, "Nombre", style: "display: block" %>
    <%= form.text_field :name, class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class="mb-2">
    <%= form.label :phone,"Número de celular", style: "display: block" %>
    <%= form.text_field :phone, class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class=" mb-2">
    <%= form.label :email,"Email", style: "display: block" %>
    <%= form.text_field :email, class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class=" mb-2">
    <%= form.label :password,"Contraseña", style: "display: block" %>
    <%= form.password_field :password, class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>
  <div class="mb-2">
    <%= form.label :password_confirmation,"Confirmar Contraseña", style: "display: block" %>
    <%= form.password_field :password_confirmation,class:"input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class=" mb-2">
    <%= form.label :gallery_name,"Nombre de tu Galería",style: "display: block" %>
    <%= form.text_field :gallery_name, class:"input input-bordered input-primary w-full max-w-xs"%>
  </div>

  <div class="btn btn-primary mb-2">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
