<div id="<%= dom_id seller %>">
  <p>
    <strong>Name:</strong>
    <%= seller.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= seller.email %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= seller.dni %>
  </p>

  <p>
    <strong>Gallery name:</strong>
    <%= seller.gallery_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= seller.phone %>
  </p>

</div>
