<div class="flex justify-center  h-screen">
  <div class="w-full max-w-xs">
    <div id="<%= dom_id seller %>" class="mb-4">
      <div class="prose mb-2">  
        <h1>Datos de Usuario</h1>
      </div> 
      <p>
        <strong>Nombre:</strong>
        <%= seller.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= seller.email %>
      </p>
      <p>
        <strong>DNI:</strong>
        <%= seller.dni %>
      </p>
      <p>
        <strong>Nombre de galería:</strong>
        <%= seller.gallery_name %>
      </p>
      <p>
        <strong>Número de celular:</strong>
        <%= seller.phone %>
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <%= link_to "Editar", edit_seller_path(@seller),  class: "btn bg-primary  " %>
      <%= link_to "Mis Productos", seller_products_path(seller), class: "btn bg-secondary "  %>
    </div>
  </div>
</div>
