<div class="container mx-auto px-8">   
  <div class="flex flex-wrap ">
        <% product.images.take(3).each do |image| %>
          <div class="carousel-item mr-2 relative w-40 h-40">
            <figure>  
              <% if image.representable? %>
                <%= image_tag image  %>
              <% end %>
            </figure>
            <% if image.id.present?%>
                <%= button_to remove_image_product_url(product, image_id: image.id), method: :delete, form: { data: { turbo_confirm: "¿Acepta eliminar esta imagen?" } },class:"absolute top-0 right-0  btn btn-square bg-red-500 " do  %>  
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
              <% end %>
            <% end %> 
          </div>
        <% end %>  
      </div> 
    </div>
  <br>
  <%= form_with(model: product) do |form| %>
    <% if product.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="pb-4">
      <%= form.file_field :images, multiple: true, style: "display: block" %>
      
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :price, "Price (S/.)", style: "display: block" %>
      <%= form.text_field :price %>
    </div>
    <br>
    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>   
  <% end %>
  
</div>
