<div class="card  bg-base-100 shadow relative border border-neutral-100">
  <div class="h-96 carousel carousel-hotizontal rounded-box">
        <% product.images.take(3).each do |image| %>
          <div class="carousel-item w-full mx-auto">
            <figure>  
              <% if image.representable? %>
                <%= image_tag image  %>
              <% end %>
            </figure>
          </div> 
        <% end %>  
  </div> 


  <div class="card-body">
    <h3 class="text-xl font-bold mb-2"> <%= product.title %> </h3>
    <p class="text-gray-700"> <%= product.description %> </p>
    <h2> <%= currency_to_symbol(product.currency) %>  <%= product.price %> </h2>
    
      <% if current_seller == product.seller%>
      <div class="card-actions justify-end">
        <%= link_to "Editar", edit_product_path(product),class:"btn btn-primary" %>
      </div>
      <%= button_to " x", product, method: :delete , form: { data: { turbo_confirm: "Eliminar Producto, ¿Está seguro?" } }, class: "btn bg-red-500 absolute top-0 right-0 " %> 
    <% else %>
      <div class="card-actions justify-end">
        <a class=" btn btn-primary" href="https://wa.me/<%= product.seller.phone %>?text=<%=  url_encode(truncate([ " Hola, deseo comprar este producto:", strip_tags(product.title), product_url(product), product.seller.gallery_name].join(" "), length: 280)) %>" target="_blank">
        Comprar
        </a>
      </div>
    <% end %>
  </div>
  
</div>
