<!DOCTYPE html>
<html>
  <head>
    <title>HojaStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mx-auto px-8">
      <% if current_seller %>
        <!-- current_user will return true if a user is logged in -->
        <%= link_to 'Home', root_path %> | <%= link_to 'Products', products_path%> | <%= link_to 'Log Out', session_path,   data: { "turbo-method": :delete }%> | <%= "Logged in as #{current_seller.email}" %> 
      <% else %>
        <!-- not logged in -->
        <%= link_to 'Home', root_path %> | <%= link_to 'Products', products_path%> | <%= link_to 'Log In', new_session_path %> or <%= link_to 'Sign Up', new_seller_path %>  
      <% end %>
      <hr>
    
      <%# ----- end of added lines ----- %>
    
      <% if notice %>
        <%= notice %>
      <% end %>
    
      <% if alert %>
        <%= alert %>
      <% end %>
      <%= yield %>
    </div>  
  </body>
</html>
